# Feed Forward Neural Networks

In [ ]:
# jupyter notebook

In [ ]:
### 210701~210711, 210821~210831 검증기간(총 22일간)

In [1]:
from tensorflow import keras
from keras.models import Sequential
from keras import Input
from keras.layers import Dense

import pandas as pd
import numpy as np
from tqdm import tqdm
import os

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

WARNING:tensorflow:Please fix your imports. Module tensorflow.python.training.tracking.base has been moved to tensorflow.python.trackable.base. The old module will be deleted in version 2.11.
WARNING:tensorflow:Please fix your imports. Module tensorflow.python.training.saving.functional_saver has been moved to tensorflow.python.checkpoint.functional_saver. The old module will be deleted in version 2.11.
WARNING:tensorflow:Please fix your imports. Module tensorflow.python.training.saving.checkpoint_options has been moved to tensorflow.python.checkpoint.checkpoint_options. The old module will be deleted in version 2.11.

# Train

In [15]:
cd C:\weather\data\train

C:\weather\data\train

In [16]:
forders_tr = os.listdir()
forders_tr

['table_202001.csv',
 'table_202002.csv',
 'table_202003.csv',
 'table_202004.csv',
 'table_202005.csv',
 'table_202006.csv',
 'table_202007.csv',
 'table_202008.csv',
 'table_202009.csv',
 'table_202010.csv',
 'table_202011.csv',
 'table_202012.csv',
 'table_202101.csv',
 'table_202102.csv',
 'table_202103.csv',
 'table_202104.csv',
 'table_202105.csv',
 'table_202106.csv']

In [17]:
# 새로운 데이터 프레임 생성
train = pd.DataFrame()

for files in forders_tr:
    df= pd.read_csv(files)
    train = pd.concat([train, df])

In [19]:
train

,YearMonthDayHourMinute,STN,Lon,Lat,isitu-LST,Band1,Band2,Band3,Band4,Band5,...,Year,Month,Day,Hour,Minute,mean_6_23,mean_34_37,mean_38_39,mean_40_42,mean_43_44
0,202001010000,90,128.56473,38.25085,-2.6,0.00000,0.00000,-0.00060,-0.00030,-0.0003,...,2020,1,1,0,0,0.422121,0.000000,0.000000,0.000000,0.868476
1,202001010000,95,127.30420,38.14787,-2.6,-0.00057,-0.00057,0.00030,-0.00060,-0.0003,...,2020,1,1,0,0,-0.391234,0.000000,0.000000,0.000000,1.114533
2,202001010000,98,127.06070,37.90188,-3.1,0.00000,0.00000,0.00030,0.00060,-0.0003,...,2020,1,1,0,0,-0.355405,0.000000,0.000000,0.000000,1.315872
3,202001010000,99,126.76648,37.88589,-3.4,-0.00057,-0.00057,-0.00030,0.00015,0.0000,...,2020,1,1,0,0,-0.332510,0.000000,0.000000,0.000000,1.666385
4,202001010000,101,127.73570,37.90262,-3.6,-0.00057,0.00000,0.00030,0.00030,0.0000,...,2020,1,1,0,0,-0.188191,-1.022277,-0.499305,0.114355,1.402172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447705,202106302350,973,126.94961,35.02330,23.6,-0.00057,-0.00057,-0.00179,-0.00060,-0.0003,...,2021,6,30,23,50,0.000385,1.107697,1.107273,0.000000,0.209894
447706,202106302350,974,128.15605,35.24435,20.7,0.00000,-0.00057,0.00089,0.00015,0.0000,...,2021,6,30,23,50,0.071010,1.472452,1.488681,0.000000,0.000000
447707,202106302350,977,127.46688,36.72455,23.9,-0.00057,-0.00057,-0.00060,0.00015,0.0000,...,2021,6,30,23,50,-0.144802,1.049685,1.210674,0.000000,0.000000
447708,202106302350,978,127.77626,37.95461,23.2,-0.00057,0.00000,0.00030,-0.00075,-0.0003,...,2021,6,30,23,50,-0.365471,0.726721,0.740235,0.000000,0.000000
447709,202106302350,980,126.48951,33.26062,24.2,0.00000,-0.00057,0.00000,-0.00015,-0.0003,...,2021,6,30,23,50,0.154993,1.010960,1.339413,0.000000,0.000000

# Validation

In [20]:
cd C:\weather\data\val

C:\weather\data\val

In [21]:
forders_val = os.listdir()
forders_val

['table_202109.csv',
 'table_202110.csv',
 'table_202111.csv',
 'table_202112.csv']

In [22]:
# 새로운 데이터 프레임 생성
val = pd.DataFrame()

for files in forders_val:
    df= pd.read_csv(files)
    val = pd.concat([val, df])

In [23]:
val

,YearMonthDayHourMinute,STN,Lon,Lat,isitu-LST,Band1,Band2,Band3,Band4,Band5,...,Year,Month,Day,Hour,Minute,mean_6_23,mean_34_37,mean_38_39,mean_40_42,mean_43_44
0,202109010000,90,128.56473,38.25085,17.9,0.00170,0.00171,0.00238,0.00195,0.00181,...,2021,9,1,0,0,-0.733944,0.000000,0.000000,0.000000,0.508451
1,202109010000,93,127.75443,37.94738,19.0,0.00170,0.00171,0.00149,0.00180,0.00121,...,2021,9,1,0,0,-0.696051,-0.914975,0.447435,0.341129,-0.179931
2,202109010000,95,127.30420,38.14787,17.6,0.00170,0.00228,0.00179,0.00195,0.00151,...,2021,9,1,0,0,-0.279810,0.000000,0.000000,0.000000,-0.365214
3,202109010000,98,127.06070,37.90188,19.3,0.00227,0.00228,0.00238,0.00374,0.00181,...,2021,9,1,0,0,-0.195837,0.000000,0.000000,0.000000,-0.290579
4,202109010000,99,126.76648,37.88589,19.6,0.00227,0.00228,0.00268,0.00239,0.00151,...,2021,9,1,0,0,-0.370219,0.000000,0.000000,0.000000,0.015434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432625,202112312350,702,126.99435,35.94504,-3.2,-0.00057,-0.00057,-0.00030,-0.00045,-0.00030,...,2021,12,31,23,50,-0.787369,-1.417396,-1.534663,0.000000,0.000000
432626,202112312350,972,128.68340,36.54983,-4.8,-0.00057,0.00057,0.00089,-0.00015,0.00000,...,2021,12,31,23,50,-0.672741,-1.492066,-1.894582,0.000000,1.185870
432627,202112312350,973,126.94961,35.02330,-2.4,0.00000,-0.00057,-0.00179,0.00015,-0.00030,...,2021,12,31,23,50,-0.684352,-0.847900,-0.716603,0.000000,1.525860
432628,202112312350,974,128.15605,35.24435,-1.8,-0.00057,-0.00057,0.00060,-0.00015,0.00000,...,2021,12,31,23,50,-2.065335,-1.364155,-0.756098,0.000000,0.000000
432629,202112312350,980,126.48951,33.26062,4.5,-0.00057,-0.00057,-0.00268,-0.00090,0.00000,...,2021,12,31,23,50,-0.805391,0.495546,1.334551,0.000000,0.000000

# Test

In [24]:
cd C:\weather\data\test

C:\weather\data\test

In [25]:
forders_te = os.listdir()
forders_te

['20210701.LST.csv',
 '20210702.LST.csv',
 '20210703.LST.csv',
 '20210704.LST.csv',
 '20210705.LST.csv',
 '20210706.LST.csv',
 '20210707.LST.csv',
 '20210708.LST.csv',
 '20210709.LST.csv',
 '20210710.LST.csv',
 '20210711.LST.csv',
 '20210821.LST.csv',
 '20210822.LST.csv',
 '20210823.LST.csv',
 '20210824.LST.csv',
 '20210825.LST.csv',
 '20210826.LST.csv',
 '20210827.LST.csv',
 '20210828.LST.csv',
 '20210829.LST.csv',
 '20210830.LST.csv',
 '20210831.LST.csv']

In [26]:
### 210701~210711, 210821~210831 검증기간(총 22일간)

# 새로운 데이터 프레임 생성
test = pd.DataFrame()

for files in forders_te:
    df= pd.read_csv(files)
    test = pd.concat([test, df])

In [27]:
test

,YearMonthDayHourMinute,STN,Lon,Lat,isitu-LST,Band1,Band2,Band3,Band4,Band5,...,insitu-TED1.5,insitu-TED3.0,insitu-TED5.0,insitu-PA,insitu-PS,year,month,day,hour,min
0,202107010030,90,128.56473,38.25085,NaN,-0.00057,-0.00057,-0.00149,-0.00045,-0.00060,...,-999.0,-999.0,-999.0,1006.2,1008.2,2021,7,1,0,30
1,202107010030,93,127.75443,37.94738,NaN,-0.00057,-0.00057,-0.00119,0.00000,0.00000,...,19.5,15.3,13.5,996.8,1007.8,2021,7,1,0,30
2,202107010030,95,127.30420,38.14787,NaN,-0.00057,-0.00057,-0.00060,0.00015,0.00000,...,-999.0,-999.0,-999.0,990.4,1008.2,2021,7,1,0,30
3,202107010030,98,127.06070,37.90188,NaN,-0.00057,-0.00057,0.00030,-0.00015,-0.00030,...,-999.0,-999.0,-999.0,994.8,1008.1,2021,7,1,0,30
4,202107010030,99,126.76648,37.88589,NaN,-0.00057,0.00000,-0.00060,-0.00105,0.00000,...,-999.0,-999.0,-999.0,1004.6,1008.2,2021,7,1,0,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,202108312330,973,126.94961,35.02330,NaN,0.00000,0.00000,0.00030,0.00015,0.00121,...,-999.0,-999.0,-999.0,1008.8,1013.3,2021,8,31,23,30
2456,202108312330,974,128.15605,35.24435,NaN,0.00000,0.00057,0.00000,0.00015,0.00000,...,-999.0,-999.0,-999.0,-999.0,-999.0,2021,8,31,23,30
2457,202108312330,977,127.46688,36.72455,NaN,0.00000,0.00057,-0.00179,0.00030,0.00000,...,-999.0,-999.0,-999.0,-999.0,-999.0,2021,8,31,23,30
2458,202108312330,978,127.77626,37.95461,NaN,0.00000,0.00000,0.00089,0.00015,-0.00030,...,-999.0,-999.0,-999.0,-999.0,-999.0,2021,8,31,23,30
2459,202108312330,980,126.48951,33.26062,NaN,0.00000,0.00000,0.00030,-0.00015,0.00000,...,-999.0,-999.0,-999.0,-999.0,-999.0,2021,8,31,23,30

# Submission

In [29]:
cd C:\weather\data

C:\weather\data

In [32]:
# Set Pandas options to display more columns
# pd.options.display.max_columns=50
submission=pd.read_csv('1-2_검증데이터셋.csv', encoding='utf-8')
submission

       YearMonthDayHourMinute  STN  isitu-LST  insitu-TA
0                202107010030   90        NaN        NaN
1                202107010030   93        NaN        NaN
2                202107010030   95        NaN        NaN
3                202107010030   98        NaN        NaN
4                202107010030   99        NaN        NaN
...                       ...  ...        ...        ...
54498            202108312330  973        NaN        NaN
54499            202108312330  974        NaN        NaN
54500            202108312330  977        NaN        NaN
54501            202108312330  978        NaN        NaN
54502            202108312330  980        NaN        NaN

[54503 rows x 4 columns]

### Train and Evaluate a Neural Network

In [ ]:
##### Step 1 - Select data for modeling(training data & validation data
X_train=train[['Band1','Band2','Band3','Band4', 'insitu-TED0.05', 'insitu-HM', 'insitu-TD', 'insitu-TG']] # 미팅내용대로 피쳐 변경 예정
y_train=train[['isitu-LST', 'insitu-TA']].values

X_test=val[['Band1','Band2','Band3','Band4', 'insitu-TED0.05', 'insitu-HM', 'insitu-TD', 'insitu-TG']]   # 미팅내용대로 피쳐 변경 예정
y_test=val[['isitu-LST', 'insitu-TA']].values



##### Step 2 - Create training and testing samples
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)


##### Step 3 - Specify the structure of a neural network
model2 = Sequential(name="Model-with-Two-Inputs")
model2.add(Input(shape=(len(X.columns),), name='Input-Layer'))
model2.add(Dense(len(X.columns), activation='relu', name='Hidden-Layer'))
model2.add(Dense(len(X.columns), activation='relu', name='Hidden-Layer'))
model2.add(Dense(len(X.columns), activation='relu', name='Hidden-Layer'))
model2.add(Dense(2, activation='relu', name='Output-Layer'))


##### Step 4 - Compile the keras model
model2.compile(optimizer='adam',
              loss='mean_squared_error',
              metrics=['mse'],
              loss_weights=None,
              weighted_metrics=None,
              run_eagerly=None, 
              steps_per_execution=None 
             )


##### Step 5 - Fit keras model on the dataset
model2.fit(X_train.to_numpy(),       # input data
          y_train,                 # target data
          batch_size=100,    
          epochs=100,         # 늘려야 할 부분
          verbose='auto', 
          callbacks=None, 
#           validation_split=0.2,                  # 이 부분도 바꾸는지???
          #validation_data=(X_test, y_test)
          shuffle=True, 
          sample_weight=None, 
          initial_epoch=0,  
          steps_per_epoch=None, 
          validation_steps=None,
          validation_batch_size=None, 
          validation_freq=1,  
          max_queue_size=10, 
          workers=1, 
          use_multiprocessing=False,
         )

Epoch 1/10
29895/29895 [==============================] - 15s 507us/step - loss: 393.9046 - mse: 393.9046
Epoch 2/10
29895/29895 [==============================] - 14s 471us/step - loss: 9.3944 - mse: 9.3944
Epoch 3/10
29895/29895 [==============================] - 17s 575us/step - loss: 11.3444 - mse: 11.3444 - val_loss: 12.2585 - val_mse: 12.2585
Epoch 4/10
29895/29895 [==============================] - 15s 498us/step - loss: 12.3024 - mse: 12.3024
Epoch 5/10
29895/29895 [==============================] - 14s 470us/step - loss: 12.2845 - mse: 12.2845
Epoch 6/10
29895/29895 [==============================] - 18s 590us/step - loss: 11.8382 - mse: 11.8382 - val_loss: 19.1556 - val_mse: 19.1556
Epoch 7/10
29895/29895 [==============================] - 15s 513us/step - loss: 11.1521 - mse: 11.1521
Epoch 8/10
29895/29895 [==============================] - 15s 498us/step - loss: 7.8286 - mse: 7.8286
Epoch 9/10
29895/29895 [==============================] - 19s 652us/step - loss: 10.6328 - mse: 10.6328 - val_loss: 5.3057 - val_mse: 5.3057
Epoch 10/10
29895/29895 [==============================] - 14s 484us/step - loss: 5.2457 - mse: 5.2457

In [ ]:
# weight저장하면서

In [ ]:
test_ = test[['Band1','Band2','Band3','Band4', 'insitu-TED0.05', 'insitu-HM', 'insitu-TD', 'insitu-TG']]
test_

,Band1,Band2,Band3,Band4,insitu-TED0.05,insitu-HM,insitu-TD,insitu-TG
0,-0.00057,-0.00057,-0.00149,-0.00045,-999.0,91.6,19.5,20.5
1,-0.00057,-0.00057,-0.00119,0.00000,23.5,94.9,19.8,19.5
2,-0.00057,-0.00057,-0.00060,0.00015,-999.0,100.0,19.1,18.8
3,-0.00057,-0.00057,0.00030,-0.00015,-999.0,98.7,19.5,19.2
4,-0.00057,0.00000,-0.00060,-0.00105,-999.0,98.4,19.9,19.4
...,...,...,...,...,...,...,...,...
2455,0.00000,0.00000,0.00030,0.00015,28.3,98.2,23.8,24.3
2456,0.00000,0.00057,0.00000,0.00015,28.2,95.1,23.2,-999.0
2457,0.00000,0.00057,-0.00179,0.00030,24.7,98.3,20.0,23.3
2458,0.00000,0.00000,0.00089,0.00015,21.8,99.4,17.4,17.8
2459,0.00000,0.00000,0.00030,-0.00015,29.0,92.5,22.9,26.1

# 예측 값 파일에 저장

In [ ]:
pred = model2.predict(test_)
pred

1704/1704 [==============================] - 1s 348us/step

array([[20.745478, 21.011648],
       [19.84458 , 20.505762],
       [18.998833, 18.953505],
       ...,
       [21.187897, 20.45559 ],
       [17.440495, 17.368662],
       [23.928177, 22.870518]], dtype=float32)

In [ ]:
submission1 = submission.copy()
submission1

       YearMonthDayHourMinute  STN  isitu-LST  insitu-TA
0                202107010030   90        NaN        NaN
1                202107010030   93        NaN        NaN
2                202107010030   95        NaN        NaN
3                202107010030   98        NaN        NaN
4                202107010030   99        NaN        NaN
...                       ...  ...        ...        ...
54498            202108312330  973        NaN        NaN
54499            202108312330  974        NaN        NaN
54500            202108312330  977        NaN        NaN
54501            202108312330  978        NaN        NaN
54502            202108312330  980        NaN        NaN

[54503 rows x 4 columns]

In [ ]:
submission1[['isitu-LST', 'insitu-TA']] = pred
submission1

       YearMonthDayHourMinute  STN  isitu-LST  insitu-TA
0                202107010030   90  20.745478  21.011648
1                202107010030   93  19.844580  20.505762
2                202107010030   95  18.998833  18.953505
3                202107010030   98  19.543289  19.623007
4                202107010030   99  19.910450  20.096640
...                       ...  ...        ...        ...
54498            202108312330  973  23.689520  23.438286
54499            202108312330  974   0.000000   0.000000
54500            202108312330  977  21.187897  20.455589
54501            202108312330  978  17.440495  17.368662
54502            202108312330  980  23.928177  22.870518

[54503 rows x 4 columns]

In [ ]:
cd C:\weather

C:\weather

In [ ]:
# submission1.to_csv("220224.csv", index = False)    # 접수번호로 저장